  <header class="banner">
      <ul class="ct-socials">
        <li>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <div class="container h-100">
      <div class="row my-0 h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light"><%= image_tag '/assets/oway_black.png', class: "img-fluid" %></h1>
        </div>
      </div>
    </div>
  </header>

  <div class="mainArea">
    <h1 class="title">世界中のトップサロンで愛され続けている<br>OWAYだからこそ体験できる</h1>

    <div class="inner row my-0">

      <div class="col-md-6">
        <div class="mp001 oway">
          <h1><%= image_tag '/assets/oway-organic_way-title.png', class: "img-fluid" %></h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mp001 agricosmetica">
          <h1><%= image_tag '/assets/oway-organic_way-title.png', class: "img-fluid" %></h1>
        </div>
      </div>
    </div>

  </div>

<%= link_to "HOME", welcome_index_path %><br>
<%= link_to "Agricosmetica", welcome_agricosmetica_path %><br>
<%= link_to "About", welcome_about_path %>

